In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from scipy import stats
import random
from scipy import optimize
from scipy import spatial

from sklearn.tree import export_graphviz
from IPython.display import Image

In [4]:
eda_df = pd.read_csv('eda_stage.csv')

In [5]:
eda_df.shape

(534781, 24)

In [6]:
eda_df.head()

,id_student,gender,disability,age_band,region,imd_band,highest_education,id_site,code_module,code_presentation,...,studied_credits,date_submitted,score,assessment_type,module_presentation_length,weight,is_banked,activity_type,date,sum_click
0,2412002,Male,No,35-55,South West Region,50-60%,Lower Than A Level,546652,AAA,2013J,...,90,20,86,TMA,268,10,No,forumng,19,1
1,2412002,Male,No,35-55,South West Region,50-60%,Lower Than A Level,546652,AAA,2013J,...,90,20,86,TMA,268,10,No,forumng,19,1
2,2412002,Male,No,35-55,South West Region,50-60%,Lower Than A Level,546614,AAA,2013J,...,90,20,86,TMA,268,10,No,homepage,19,10
3,2412002,Male,No,35-55,South West Region,50-60%,Lower Than A Level,546876,AAA,2013J,...,90,20,86,TMA,268,10,No,subpage,19,2
4,2412002,Male,No,35-55,South West Region,50-60%,Lower Than A Level,546871,AAA,2013J,...,90,20,86,TMA,268,10,No,subpage,19,1

In [13]:
eda_df['disability'].replace('No', 0, inplace = True)
eda_df['disability'].replace('Yes', 1, inplace = True)

eda_df['is_banked'].replace('No', 0, inplace = True)
eda_df['is_banked'].replace('Yes', 1, inplace = True)

In [17]:
col_order = [x for x in eda_df.columns]

for c in col_order:
    print(c)
    print(eda_df[c].value_counts())
    print(eda_df[c].dtypes)
    print(eda_df[c].info)
    print()

id_student
2646317    1225
604879      648
556251      560
402449      550
308363      541
           ...
683764        1
677167        1
226955        1
74165         1
635779        1
Name: id_student, Length: 16193, dtype: int64
int64
<bound method Series.info of 0         2412002
1         2412002
2         2412002
3         2412002
4         2412002
           ...
534776     650630
534777     650630
534778     650630
534779     650630
534780     635779
Name: id_student, Length: 534781, dtype: int64>

gender
Male      335073
Female    199708
Name: gender, dtype: int64
object
<bound method Series.info of 0           Male
1           Male
2           Male
3           Male
4           Male
           ...
534776      Male
534777      Male
534778      Male
534779      Male
534780    Female
Name: gender, Length: 534781, dtype: object>

disability
0    493237
1     41544
Name: disability, dtype: int64
int64
<bound method Series.info of 0         0
1         0
2         0
3         0
4         0
         ..
534776    0
534777    0
534778    0
534779    0
534780    1
Name: disability, Length: 534781, dtype: int64>

age_band
0-35     376419
35-55    154675
55<=       3687
Name: age_band, dtype: int64
object
<bound method Series.info of 0         35-55
1         35-55
2         35-55
3         35-55
4         35-55
          ...
534776    35-55
534777    35-55
534778    35-55
534779    35-55
534780    35-55
Name: age_band, Length: 534781, dtype: object>

region
London Region           61557
Scotland                61327
East Anglian Region     55917
South Region            53893
North Western Region    47865
West Midlands Region    40488
South West Region       39951
East Midlands Region    36935
South East Region       35763
Wales                   34835
Yorkshire Region        30291
Ireland                 18652
North Region            17307
Name: region, dtype: int64
object
<bound method Series.info of 0            South West Region
1            South West Region
2            South West Region
3            South West Region
4            South West Region
                  ...
534776    West Midlands Region
534777    West Midlands Region
534778    West Midlands Region
534779    West Midlands Region
534780     East Anglian Region
Name: region, Length: 534781, dtype: object>

imd_band
30-40%     64023
50-60%     57373
10-20%     55585
20-30%     54163
80-90%     52084
70-80%     51743
40-50%     51650
60-70%     50049
0-10%      49723
90-100%    48388
Name: imd_band, dtype: int64
object
<bound method Series.info of 0         50-60%
1         50-60%
2         50-60%
3         50-60%
4         50-60%
           ...
534776    30-40%
534777    30-40%
534778    30-40%
534779    30-40%
534780    60-70%
Name: imd_band, Length: 534781, dtype: object>

highest_education
A Level or Equivalent          253104
Lower Than A Level             186349
HE Qualification                88534
No Formal quals                  3678
Post Graduate Qualification      3116
Name: highest_education, dtype: int64
object
<bound method Series.info of 0            Lower Than A Level
1            Lower Than A Level
2            Lower Than A Level
3            Lower Than A Level
4            Lower Than A Level
                  ...
534776       Lower Than A Level
534777       Lower Than A Level
534778       Lower Than A Level
534779       Lower Than A Level
534780    A Level or Equivalent
Name: highest_education, Length: 534781, dtype: object>

id_site
882537    7876
716238    7738
526721    6404
703721    5648
547303    5509
          ...
814100       1
877048       1
779720       1
779718       1
773412       1
Name: id_site, Length: 4684, dtype: int64
int64
<bound method Series.info of 0         546652
1         546652
2         546614
3         546876
4         546871
           ...
534776    896981
534777    896981
534778    896981
534779    896981
534780    896960
Name: id_site, Length: 534781, dtype: int64>

code_module
FFF    250795
BBB     85875
DDD     83868
CCC     58109
GGG     24022
EEE     23378
AAA      8734
Name: code_module, dtype: int64
object
<bound method Series.info of 0         AAA
1         AAA
2         AAA
3         AAA
4         AAA
         ...
534776    GGG
534777    GGG
534778    GGG
534779    GGG
534780    GGG
Name: code_module, Length: 534781, dtype: object>

code_presentation
2014J    150605
2013J    143966
2013B    123706
2014B    116504
Name: code_presentation, dtype: int64
object
<bound method Series.info of 0         2013J
1         2013J
2         2013J
3         2013J
4         2013J
          ...
534776    2014J
534777    2014J
534778    2014J
534779    2014J
534780    2014J
Name: code_presentation, Length: 534781, dtype: object>

id_assessment
34873    7085
34902    6973
34899    6816
34905    6292
34904    6279
         ...
24299     332
25361     331
25340     249
25354     235
25368     181
Name: id_assessment, Length: 187, dtype: int64
int64
<bound method Series.info of 0          1752
1          1752
2          1752
3          1752
4          1752
          ...
534776    37438
534777    37439
534778    37440
534779    37441
534780    37437
Name: id_assessment, Length: 534781, dtype: int64>

date_registration
-22     22479
-29     18698
-25     14116
-24     14101
-23     13276
        ...
-244        3
 48         2
 101        1
-279        1
 9          1
Name: date_registration, Length: 288, dtype: int64
int64
<bound method Series.info of 0         -38
1         -38
2         -38
3         -38
4         -38
         ...
534776   -108
534777   -108
534778   -108
534779   -108
534780   -135
Name: date_registration, Length: 534781, dtype: int64>

num_of_prev_attempts
0    465430
1     55709
2     10941
3      1912
4       521
5       168
6       100
Name: num_of_prev_attempts, dtype: int64
int64
<bound method Series.info of 0         0
1         0
2         0
3         0
4         0
         ..
534776    0
534777    0
534778    0
534779    0
534780    0
Name: num_of_prev_attempts, Length: 534781, dtype: int64>

final_result
Pass           346946
Fail           108773
Distinction     78917
Withdrawn         145
Name: final_result, dtype: int64
object
<bound method Series.info of 0         Distinction
1         Distinction
2         Distinction
3         Distinction
4         Distinction
             ...
534776           Fail
534777           Fail
534778           Fail
534779           Fail
534780           Pass
Name: final_result, Length: 534781, dtype: object>

studied_credits
60     281441
120    108587
90      61585
30      39954
150     15022
180     10904
70       2753
210      2746
75       2292
240      1863
270       984
360       941
80        909
130       678
135       459
160       394
100       385
40        329
200       278
45        269
220       229
110       201
300       153
165       144
140       132
190       126
105       113
250       106
195       100
330        91
630        88
145        77
50         75
280        64
95         52
155        50
170        47
115        39
325        37
420        21
430        15
85         14
215        13
55          9
65          9
225         3
Name: studied_credits, dtype: int64
int64
<bound method Series.info of 0         90
1         90
2         90
3         90
4         90
          ..
534776    30
534777    30
534778    30
534779    30
534780    30
Name: studied_credits, Length: 534781, dtype: int64>

date_submitted
 69     10373
 19     10296
 25     10147
 223     9267
 237     8038
        ...
 285        7
-7          7
 249        5
 248        3
 232        1
Name: date_submitted, Length: 255, dtype: int64
int64
<bound method Series.info of 0          20
1          20
2          20
3          20
4          20
         ...
534776    189
534777    189
534778    230
534779    230
534780    167
Name: date_submitted, Length: 534781, dtype: int64>

score
100    42060
80     31227
78     15575
90     15300
60     14249
       ...
6         68
5         60
2         53
7         47
3         37
Name: score, Length: 101, dtype: int64
int64
<bound method Series.info of 0         86
1         86
2         86
3         86
4         86
          ..
534776    80
534777    60
534778    60
534779    80
534780    70
Name: score, Length: 534781, dtype: int64>

assessment_type
CMA     268379
TMA     265074
Exam      1328
Name: assessment_type, dtype: int64
object
<bound method Series.info of 0         TMA
1         TMA
2         TMA
3         TMA
4         TMA
         ...
534776    CMA
534777    CMA
534778    CMA
534779    CMA
534780    TMA
Name: assessment_type, Length: 534781, dtype: object>

module_presentation_length
269    126742
240    123706
268    114137
241     95755
261     29829
262     23863
234     20749
Name: module_presentation_length, dtype: int64
int64
<bound method Series.info of 0         268
1         268
2         268
3         268
4         268
         ...
534776    269
534777    269
534778    269
534779    269
534780    269
Name: module_presentation_length, Length: 534781, dtype: int64>

weight
0      177746
25      59556
12      54066
1       36038
18      33295
20      20129
8       19978
10      19796
28      17493
2       15432
7       14125
22      12275
5        9765
3        8961
15       6732
16       5885
4        5641
9        5041
17       4735
35       3475
30       1755
6        1534
100      1328
Name: weight, dtype: int64
int64
<bound method Series.info of 0         10
1         10
2         10
3         10
4         10
          ..
534776     0
534777     0
534778     0
534779     0
534780     0
Name: weight, Length: 534781, dtype: int64>

is_banked
0    532895
1      1886
Name: is_banked, dtype: int64
int64
<bound method Series.info of 0         0
1         0
2         0
3         0
4         0
         ..
534776    0
534777    0
534778    0
534779    0
534780    0
Name: is_banked, Length: 534781, dtype: int64>

activity_type
quiz             107881
oucontent         99298
subpage           96530
forumng           91913
homepage          74413
resource          33477
url               14963
ouwiki             7369
externalquiz       2287
page               1328
folder             1154
oucollaborate      1113
glossary            672
ouelluminate        650
questionnaire       645
dataplus            604
dualpane            420
htmlactivity         62
sharedsubpage         2
Name: activity_type, dtype: int64
object
<bound method Series.info of 0           forumng
1           forumng
2          homepage
3           subpage
4           subpage
            ...
534776    oucontent
534777    oucontent
534778    oucontent
534779    oucontent
534780    oucontent
Name: activity_type, Length: 534781, dtype: object>

date
222    46189
241    43328
236    42579
227    27456
19     22809
       ...
102     1549
206     1534
61      1179
261      748
240      249
Name: date, Length: 72, dtype: int64
int64
<bound method Series.info of 0          19
1          19
2          19
3          19
4          19
         ...
534776    229
534777    229
534778    229
534779    229
534780    173
Name: date, Length: 534781, dtype: int64>

sum_click
1      248007
2       92914
3       46521
4       29944
5       19952
        ...
247         1
220         1
472         1
164         1
140         1
Name: sum_click, Length: 221, dtype: int64
int64
<bound method Series.info of 0          1
1          1
2         10
3          2
4          1
          ..
534776     1
534777     1
534778     1
534779     1
534780     1
Name: sum_click, Length: 534781, dtype: int64>

In [20]:
def ecdf(data):
    """Compute ECDF for a one-dimensional array of measurements."""
    n = len(data)
    x = np.sort(data)
    y = np.arange(1, n + 1) / n
    return x, y

def pearson_r(x , y):
    """Compute Pearson correlation coefficient between two arrays."""
    corr_mat = np.corrcoef(x, y)
    return corr_mat[0, 1]

def bootstrap_replicate_1d(data, func):
    """Generate bootstrap replicate of 1D data."""
    bs_sample = np.random.choice(data, len(data))
    return func(bs_sample)

def draw_bs_reps(data, func, size = 1):
    """Draw bootstrap replicates."""
    bs_replicates = np.empty(size)
    for i in range(size):
        bs_replicates[i] = bootstrap_replicate_1d(data, func)
    return bs_replicates

def draw_bs_pairs_linreg(x, y, size = 1):
    """perform pairs bootstrap for linear regression"""
    inds = np.arange(len(x))
    bs_slope_reps = np.empty(size)
    bs_intercept_reps = np.empty(size)
    for i in range(size):
        bs_inds = np.random.choice(inds, size = len(inds))
        bs_x, bs_y = x[bs_inds], y[bs_inds]
        bs_slope_reps[i], bs_intercept_reps[i] = np.polyfit(bs_x, bs_y, 1)
    return bs_slope_reps, bs_intercept_reps

def draw_bs_pairs(x, y, func, size = 1):
    """Perform pairs bootstrap for a single statistic."""
    inds = np.arange(len(x))
    bs_replicates = np.empty(size)
    for i in range(size):
        bs_inds = np.random.choice(inds, size = len(inds))
        bs_x, bs_y = x[bs_inds], y[bs_inds]
        bs_replicates[i] = func(bs_x, bs_y)
    return bs_replicates

def permutation_sample(data1, data2):
    """Generate a permutation sample from two data sets."""
    data = np.concatenate((data1, data2))
    permuted_data = np.random.permutation(data)
    perm_sample_1 = permuted_data[:len(data1)]
    perm_sample_2 = permuted_data[len(data1):]
    return perm_sample_1, perm_sample_2

def draw_perm_reps(data_1, data_2, func, size=1):
    """Generate multiple permutation replicates."""
    perm_replicates = np.empty(size)
    for i in range(size):
        perm_sample_1, perm_sample_2 = permutation_sample(data_1, data_2)
        perm_replicates[i] = func(perm_sample_1, perm_sample_2)
    return perm_replicates

def diff_of_means(data_1, data_2):
    """Difference in means of two arrays."""
    diff = np.mean(data_1) - np.mean(data_2)
    return diff

def diff_frac(data_A, data_b):
    frac_A = np.sum(data_A) / len(data_A)
    frac_B = np.sum(data_B) / len(data_B)
    return frac_B - frac_A